# Exercise - 7

## 1. Dictionary containing names of your friends as keys and their surnames as values

In [9]:
friends = {
    "James" : "Smith",
    "Robert" : "Garcia",
    "Shasha" : "Martinez",
    "Rose" : "Miller"
}
print(friends)

{'James': 'Smith', 'Robert': 'Garcia', 'Shasha': 'Martinez', 'Rose': 'Miller'}

## 2. Create marks of five students in three subjects in five saperate dictionaries then create a nested dictionary which stores these five dictionaries and prints results of all the students

In [26]:
s1 = {
    "Maths" : "96",
    "English" : "92",
    "Science" : "90"
}
s2 = {
    "Maths" : "98",
    "English" : "90",
    "Science" : "89"
}
s3 = {
    "Maths" : "89",
    "English" : "85",
    "Science" : "84"
}
s4 = {
    "Maths" : "86",
    "English" : "82",
    "Science" : "80"
}
s5 = {
    "Maths" : "98",
    "English" : "90",
    "Science" : "94"
}

marks = {
    1:{
    "Maths" : "96",
    "English" : "92",
    "Science" : "90"
    },
    2:{
    "Maths" : "98",
    "English" : "90",
    "Science" : "89"
    },
    3:{
    "Maths" : "89",
    "English" : "85",
    "Science" : "84"
    },
    4:{
    "Maths" : "86",
    "English" : "82",
    "Science" : "80"
    },
    5:{
    "Maths" : "98",
    "English" : "90",
    "Science" : "94"
    }
    
}
for i in marks:
    print("Student", i, ":", marks[i])

Student 1 : {'Maths': '96', 'English': '92', 'Science': '90'}
Student 2 : {'Maths': '98', 'English': '90', 'Science': '89'}
Student 3 : {'Maths': '89', 'English': '85', 'Science': '84'}
Student 4 : {'Maths': '86', 'English': '82', 'Science': '80'}
Student 5 : {'Maths': '98', 'English': '90', 'Science': '94'}

## 3. Create marks of five students in three subjects in five separate dictionaries, add their marks and store it in their respective dictionaries

In [10]:
s1 = {
    "Maths" : 96,
    "English" : 92,
    "Science" : 90
}
s2 = {
    "Maths" : 98,
    "English" : 90,
    "Science" : 89
}
s3 = {
    "Maths" : 89,
    "English" : 85,
    "Science" : 84
}
s4 = {
    "Maths" : 86,
    "English" : 82,
    "Science" : 80
}
s5 = {
    "Maths" : 98,
    "English" : 90,
    "Science" : 94
}

m1 = 0
m2 = 0
m3 = 0
m4 = 0
m5 = 0
for i in s1:
    m1 += s1[i]
for i in s2:
    m2 += s2[i]
for i in s3:
    m3 += s3[i]
for i in s4:
    m4 += s4[i]
for i in s5:
    m5 += s5[i]
s1['Total marks'] = m1
s2['Total marks'] = m2
s3['Total marks'] = m3
s4['Total marks'] = m4
s5['Total marks'] = m5

print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

{'Maths': 96, 'English': 92, 'Science': 90, 'Total marks': 278}
{'Maths': 98, 'English': 90, 'Science': 89, 'Total marks': 277}
{'Maths': 89, 'English': 85, 'Science': 84, 'Total marks': 258}
{'Maths': 86, 'English': 82, 'Science': 80, 'Total marks': 248}
{'Maths': 98, 'English': 90, 'Science': 94, 'Total marks': 282}