# Exercise - 7

## 1. Dictionary containing names of your friends as keys and their surnames as values

In [9]:
friends = {
    "James" : "Smith",
    "Robert" : "Garcia",
    "Shasha" : "Martinez",
    "Rose" : "Miller"
}
print(friends)

{'James': 'Smith', 'Robert': 'Garcia', 'Shasha': 'Martinez', 'Rose': 'Miller'}

## 2. Create marks of five students in three subjects in five saperate dictionaries then create a nested dictionary which stores these five dictionaries and prints results of all the students

In [6]:
s1 = {
    "Maths" : "96",
    "English" : "92",
    "Science" : "90"
}
s2 = {
    "Maths" : "98",
    "English" : "90",
    "Science" : "89"
}
s3 = {
    "Maths" : "89",
    "English" : "85",
    "Science" : "84"
}
s4 = {
    "Maths" : "86",
    "English" : "82",
    "Science" : "80"
}
s5 = {
    "Maths" : "98",
    "English" : "90",
    "Science" : "94"
}
marks = {1:s1, 2:s2, 3:s3, 4:s4, 5:s5}
print(marks)

{1: {'Maths': '96', 'English': '92', 'Science': '90'}, 2: {'Maths': '98', 'English': '90', 'Science': '89'}, 3: {'Maths': '89', 'English': '85', 'Science': '84'}, 4: {'Maths': '86', 'English': '82', 'Science': '80'}, 5: {'Maths': '98', 'English': '90', 'Science': '94'}}

## 3. Create marks of five students in three subjects in five separate dictionaries, add their marks and store it in their respective dictionaries

In [10]:
s1 = {
    "Maths" : 96,
    "English" : 92,
    "Science" : 90
}
s2 = {
    "Maths" : 98,
    "English" : 90,
    "Science" : 89
}
s3 = {
    "Maths" : 89,
    "English" : 85,
    "Science" : 84
}
s4 = {
    "Maths" : 86,
    "English" : 82,
    "Science" : 80
}
s5 = {
    "Maths" : 98,
    "English" : 90,
    "Science" : 94
}

m1 = 0
m2 = 0
m3 = 0
m4 = 0
m5 = 0
for i in s1:
    m1 += s1[i]
for i in s2:
    m2 += s2[i]
for i in s3:
    m3 += s3[i]
for i in s4:
    m4 += s4[i]
for i in s5:
    m5 += s5[i]
s1['Total marks'] = m1
s2['Total marks'] = m2
s3['Total marks'] = m3
s4['Total marks'] = m4
s5['Total marks'] = m5

print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

{'Maths': 96, 'English': 92, 'Science': 90, 'Total marks': 278}
{'Maths': 98, 'English': 90, 'Science': 89, 'Total marks': 277}
{'Maths': 89, 'English': 85, 'Science': 84, 'Total marks': 258}
{'Maths': 86, 'English': 82, 'Science': 80, 'Total marks': 248}
{'Maths': 98, 'English': 90, 'Science': 94, 'Total marks': 282}

## 4. Ask users for student name and marks and store all of these in a dictionary

In [8]:
name = ''
marks = 0
result = {}
n = int(input('Enter number of students '))
i = 0
while i!=n:
    name = input('Enter you name ')
    marks = int(input('Enter your total marks '))
    result[name] = marks
    i = i+1
print(result)

Enter number of students 4
Enter you name Rose
Enter your total marks 87
Enter you name Ariana
Enter your total marks 98
Enter you name Taylor
Enter your total marks 56
Enter you name Jack
Enter your total marks 87
{'Rose': 87, 'Ariana': 98, 'Taylor': 56, 'Jack': 87}

## 5. Create a dictionary with month names as keys and no. of days as values

In [7]:
months = {}
i = 0
while i!=12:  
    name = input('Enter the name of month ')
    days = int(input('Enter number of days in this month '))
    months[name] = days
    i = i+1
print(months)
# Print no of days
name = input('Enter the name of month ')
for month in months:
    if month == name:
        print(months[month])
# Print all months having 30 days
print('Months having 30 days are: ')
for month in months:
    if months[month] == 30:
        print(month)

Enter the name of month Jan
Enter number of days in this month 31
Enter the name of month Feb
Enter number of days in this month 28
Enter the name of month Mar
Enter number of days in this month 31
Enter the name of month Apr
Enter number of days in this month 30
Enter the name of month May
Enter number of days in this month 31
Enter the name of month Jun
Enter number of days in this month 30
Enter the name of month Jul
Enter number of days in this month 31
Enter the name of month Aug
Enter number of days in this month 31
Enter the name of month Sep
Enter number of days in this month 30
Enter the name of month Oct
Enter number of days in this month 31
Enter the name of month Nov
Enter number of days in this month 30
Enter the name of month Dec
Enter number of days in this month 31
{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31}
Enter the name of month Mar
31
Months having 30 days are:
Apr
Jun
Sep
Nov

## 6. Store details of 5 students in a dictionary

In [16]:
Details = {}
i = 0 
while i!=5:
    student = {}
    roll = int(input('Enter roll number '))
    name = input('Enter name ')
    marks = int(input('Enter marks '))
    cgpa = float(input('Enter cgpa '))
    student['RollNo'] = roll
    student['Name'] = name
    student['Marks'] = marks
    student['CGPA'] = cgpa
    Details[i] = student
    i = i+1
print(Details)

Enter roll number 1
Enter name Tan
Enter marks 98
Enter cgpa 9.8
Enter roll number 2
Enter name Ugc
Enter marks 99
Enter cgpa 9.9
Enter roll number 3
Enter name Edc
Enter marks 89
Enter cgpa 8.9
Enter roll number 4
Enter name Ybh
Enter marks 67
Enter cgpa 6.7
Enter roll number 5
Enter name Obh
Enter marks 78
Enter cgpa 7.8
{0: {'RollNo': 1, 'Name': 'Tan', 'Marks': 98, 'CGPA': 9.8}, 1: {'RollNo': 2, 'Name': 'Ugc', 'Marks': 99, 'CGPA': 9.9}, 2: {'RollNo': 3, 'Name': 'Edc', 'Marks': 89, 'CGPA': 8.9}, 3: {'RollNo': 4, 'Name': 'Ybh', 'Marks': 67, 'CGPA': 6.7}, 4: {'RollNo': 5, 'Name': 'Obh', 'Marks': 78, 'CGPA': 7.8}}

## 7. Reverse the dictionary

In [21]:
# This method wont work for multiple same values

# initializing dictionary  
d1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4","k5":"v5"}
# Swapping kay and values
d2 = dict([(value, key) for key, value in d1.items()]) 
# Reversing the dictionary
d2 = dict(reversed(list(d2.items())))
# Printing new dictionary
print(d2)

{'v5': 'k5', 'v4': 'k4', 'v3': 'k3', 'v2': 'k2', 'v1': 'k1'}

## 8.  Print the overlapping keys in two dictionaries

In [1]:
# Dictionary 1
d1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4","k5":"v5"}  
# Dictionary 2
d2 = {"s1":"v1","k2":"v2","s3":"v3","s4":"v4","k5":"v5"}        

OverlappingKeys =[ ]                                          

for i in d1.keys() :    
           if i in d2.keys(): 
                   # Adding overlapping keys to the list
                   OverlappingKeys.append(i)      
# Printing overlapping keys
print(OverlappingKeys)

['k2', 'k5']

## 9. If two same values have different keys

In [8]:
# Dictionary 1
d1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v5","k5":"v5"}  
count = {}
val = d1.values()
for i in val:
    if i not in count:
        count[i] = 0
    count[i] += 1
print(count)

a = False 
for i in count.values():
     if i>1:
        a = True
        print(i, 'keys have same values')
if a == False:
    print('No keys have same values')

{'v1': 1, 'v2': 1, 'v3': 1, 'v5': 2}
2 keys have same values